@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.btn {
    font-family: inherit;
    background-color: #fff;
    color: blueviolet;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}


#toasts{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.toast.info {
    color: blueviolet;
}

.toast.success {
    color: green;
}

.toast.error {
    color: red;
}